.Clock{
  border: 3px solid white;
  position: absolute;
}

.Clock .spin{
  position: absolute;
  height: 1px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform-origin: center left;
}

.Clock .hour{
  margin-top: -1px;
  height: 3px;
}

.Clock .minute{
  height: 1px;
}

.Clock .second{
  opacity: 0.5;
  height: 1px;
}

.Clock .center{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  width: 5px;
  height: 5px;
  margin: -2px 0 0 -2px;
}
