a:focus{
  outline: 0 none;
}

.hilti{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.hilti h1{
  position: absolute;
  top: 0%;
  left: 3%;
}

.orders{
  position: absolute;
  bottom: 20%;
  left: 3%;
  line-height: 1.5em;
  font-size: 3.4em;
  font-weight: bold;
}

.buttons{
  padding: 5em 0;
}

.buttons a{
  display: inline-block;
  font-size: 3.1em;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 0.6em 0.7em;
  margin: 0 0.8em;
  width: 7em;
  color: white;
  text-decoration: none;
  transition: all 250ms;
}

.buttons a:hover{
  border-color: #fff;
  background: rgba(255,255,255,0.1);
  transform: scale(1.05);
}

.chf-count{
  position: absolute;
  left: 0;
  width: 100%;
  top: 51%;
  height: 2.7em; 
  margin-top: -13.5em;
  text-align: center;
}

.chf-count .main-count{
  display: inline-block;
  background: rgba(255,255,255,0.2);
  font-size: 10.8em;
  padding: 0.15em 0.4em;
}

.ReactModal__Content{
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255,255,255,0.2);
}
.ReactModal__Content h1{
  font-size: 30px;
  text-align: center;
}
