.Layout{
  position: absolute;
  top: 0;
  left: 0;
}

.Layout .content{
  position: absolute;
  left: 0;
}

.Layout .content .bg{
  opacity: 0.50;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.Layout .terminator-mask{
  position: absolute;
  background: #000;
}

.Layout .bottom{
  opacity: 0.50;
  background: #000;  
  position: absolute;
}

.Layout canvas{
  position: absolute;
  top: 0;
  left: 0;
}
