.Layout{
  position: absolute;
  top: 0;
  left: 0;
}

.Layout .content{
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.Layout .bottom{
  background: #000;  
  position: absolute;
}

.Layout canvas{
  position: absolute;
  top: 0;
  left: 0;
}
